/BusinessModels/BusinessModels/BusinessModels.csproj.user
/BusinessModels/BusinessModels/bin
/BusinessModels/BusinessModels/obj
/Connector/Connector.csproj.user
/Connector/bin
/Connector/obj
/SoftLogger/bin
/SoftLogger/obj
