USE [master]
GO
/****** Object:  Database [PkgLocalization]    Script Date: 28-06-2018 18:08:09 ******/
CREATE DATABASE [PkgLocalization]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PkgLocalization].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PkgLocalization]
GO
/****** Object:  Table [dbo].[ApplicationMaster]    Script Date: 28-06-2018 18:08:09 ******/
SET ANSI_NULLS ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationMaster](
	[ApplicationID] [int] NOT NULL,
	[ApplicationName] [varchar](100) NULL,
	[CompanyID] [varchar](3) NULL
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Localization]    Script Date: 28-06-2018 18:08:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localization](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [varchar](3) NULL,
	[ResourceID] [varchar](200) NULL,
	[PageID] [int] NULL,
	[ResourceValue] [varchar](max) NULL,
	[Culture] [varchar](10) NULL
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PageMaster]    Script Date: 28-06-2018 18:08:09 ******/
SET ANSI_NULLS ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PageMaster](
	[PageID] [int] NOT NULL,
	[ApplicationID] [int] NULL,
	[PageName] [varchar](300) NULL,
	[CompanyID] [varchar](3) NULL
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ApplicationMaster] ([ApplicationID], [ApplicationName], [CompanyID]) VALUES (1, N'PackageModule', N'SD')
SET IDENTITY_INSERT [dbo].[Localization] ON 

INSERT [dbo].[Localization] ([ID], [CompanyID], [ResourceID], [PageID], [ResourceValue], [Culture]) VALUES (1, N'SD', N'errorSelectApplication', 1, N'Please Select Application Name First.', N'en-US')
INSERT [dbo].[Localization] ([ID], [CompanyID], [ResourceID], [PageID], [ResourceValue], [Culture]) VALUES (2, N'SD', N'AddLocalizationKey', 1, N'Add Localization', N'en-US')
INSERT [dbo].[Localization] ([ID], [CompanyID], [ResourceID], [PageID], [ResourceValue], [Culture]) VALUES (3, N'SD', N'AddLocalizationForAvailableResources', 1, N'Add localization for available resources', N'en-US')
GO
SET IDENTITY_INSERT [dbo].[Localization] OFF
INSERT [dbo].[PageMaster] ([PageID], [ApplicationID], [PageName], [CompanyID]) VALUES (1, 1, N'AddLocalization', N'SD')
INSERT [dbo].[PageMaster] ([PageID], [ApplicationID], [PageName], [CompanyID]) VALUES (2, 1, N'AgentProfile', N'SD')
INSERT [dbo].[PageMaster] ([PageID], [ApplicationID], [PageName], [CompanyID]) VALUES (3, 1, N'CreateNewPackage', N'SD')
/****** Object:  StoredProcedure [dbo].[FSP_GetPageResources]    Script Date: 28-06-2018 18:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FSP_GetPageResources]
(
@CompanyID varchar(2),
@ApplicationName varchar(100),
@PageName varchar(100),
@Culture varchar(5)
)

AS
BEGIN
DECLARE @PageID as int
DECLARE @ApplicationID AS INT
SET @ApplicationID=(Select ApplicationID from ApplicationMaster WHERE ApplicationName=@ApplicationName)
SET @PageID=(Select PageID from PageMaster WHERE PageName=@PageName AND ApplicationID=@ApplicationID)
select ResourceID,ResourceValue FROM Localization WHERE PageID=@PageID AND CompanyID=@CompanyID AND Culture=@Culture

END

GO
/****** Object:  StoredProcedure [dbo].[FSP_GetResourceList]    Script Date: 28-06-2018 18:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FSP_GetResourceList]
(
@CompanyID VARCHAR(3),
@ApplicationID INT,
@PageID INT,
@Culture VARCHAR(5)
)
AS

BEGIN

SELECT ResourceID,ResourceValue From Localization Where CompanyID=@CompanyID AND PageID=@PageID AND Culture=@Culture

Select * from Localization

END
GO
/****** Object:  StoredProcedure [dbo].[FSP_GETResources]    Script Date: 28-06-2018 18:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[FSP_GETResources]
(
@CompanyID VARCHAR(3),
@PageID int,
@Culture VARCHAR(10)
)

AS

BEGIN

SELECT ResourceID,ResourceValue from Localization where CompanyID=@CompanyID and PageID=@PageID and Culture=@Culture
END

GO
/****** Object:  StoredProcedure [dbo].[FSP_InsertResources]    Script Date: 28-06-2018 18:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[FSP_InsertResources]
(
@CompanyID VARCHAR(3),
@PageID int,
@ApplicationID INT,
@ResourceID VARCHAR(200),
@ResourceValue VARCHAR(MAX),
@Culture VARCHAR(10)
)

AS

BEGIN
IF (SELECT COUNT(*) FROM Localization WHERE ResourceID = @ResourceID and Culture=@Culture and CompanyID=@CompanyID and PageID=@PageID)>0--AND(DATEDIFF(MINUTE,@SESSIONDIFF,GETDATE())>@EXPIREMINUTE
BEGIN
Select 'false'
END
ELSE
Begin
INSERT INTO Localization(CompanyID,ResourceID,ResourceValue,Culture,PageID) values(@CompanyID,@ResourceID,@ResourceValue,@Culture,@PageID)

select 'true'
END
END





GO
USE [master]
GO
